<section id="products">
  <div class="wrap">
    <div class="section-head fade-in in">
      <div class="kicker">{{ 'cat_kicker' | translate }}</div>
      <h2>{{ 'cat_h2' | translate }}</h2>
    </div>
    <div class="cat-grid">
      <a class="cat-card fade-in in" *ngFor="let category of categories" [routerLink]="['/category', category.name]">
        <picture>
          <img class="cat-icon" [src]="category.img" [alt]="category.name" />
        </picture>
        <h3>{{ category.label | translate }}</h3>
      </a>
    </div>
  </div>
</section>
